

.res-card-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding:5px;
    margin:5px;
    width: 200px;
    /* height: 350px; */
    background: #F7F9FA;
}
.res-card:hover{
    cursor: pointer;
    border:1px solid black;
}
.search{
    padding:10px;
}
.res-logo{
    width:100%;
    height: 40%;
    object-fit: cover;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
}

.login{
    padding:0 20px !important;
    cursor: pointer;
}
.filter{
    display: flex;
}